Solarjob/WsClient/Service References/WcfServer.V1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommandService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServer.Results" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfServer.V1.Dtos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommandService_GetCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCommand" />
  </wsdl:message>
  <wsdl:message name="ICommandService_GetCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCommandResponse" />
  </wsdl:message>
  <wsdl:message name="ICommandService_Done_InputMessage">
    <wsdl:part name="parameters" element="tns:Done" />
  </wsdl:message>
  <wsdl:message name="ICommandService_Done_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoneResponse" />
  </wsdl:message>
  <wsdl:message name="ICommandService_Fail_InputMessage">
    <wsdl:part name="parameters" element="tns:Fail" />
  </wsdl:message>
  <wsdl:message name="ICommandService_Fail_OutputMessage">
    <wsdl:part name="parameters" element="tns:FailResponse" />
  </wsdl:message>
  <wsdl:message name="ICommandService_AddSendMessageTask_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSendMessageTask" />
  </wsdl:message>
  <wsdl:message name="ICommandService_AddSendMessageTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSendMessageTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ICommandService_AddCreateFileTask_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCreateFileTask" />
  </wsdl:message>
  <wsdl:message name="ICommandService_AddCreateFileTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCreateFileTaskResponse" />
  </wsdl:message>
  <wsdl:message name="ICommandService_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="ICommandService_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommandService">
    <wsdl:operation name="GetCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/GetCommand" message="tns:ICommandService_GetCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandService/GetCommandResponse" message="tns:ICommandService_GetCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Done">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/Done" message="tns:ICommandService_Done_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandService/DoneResponse" message="tns:ICommandService_Done_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Fail">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/Fail" message="tns:ICommandService_Fail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandService/FailResponse" message="tns:ICommandService_Fail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSendMessageTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/AddSendMessageTask" message="tns:ICommandService_AddSendMessageTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandService/AddSendMessageTaskResponse" message="tns:ICommandService_AddSendMessageTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCreateFileTask">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/AddCreateFileTask" message="tns:ICommandService_AddCreateFileTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandService/AddCreateFileTaskResponse" message="tns:ICommandService_AddCreateFileTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/Ping" message="tns:ICommandService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandService/PingResponse" message="tns:ICommandService_Ping_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICommandService" type="tns:ICommandService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCommand">
      <soap:operation soapAction="http://tempuri.org/ICommandService/GetCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Done">
      <soap:operation soapAction="http://tempuri.org/ICommandService/Done" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fail">
      <soap:operation soapAction="http://tempuri.org/ICommandService/Fail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSendMessageTask">
      <soap:operation soapAction="http://tempuri.org/ICommandService/AddSendMessageTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCreateFileTask">
      <soap:operation soapAction="http://tempuri.org/ICommandService/AddCreateFileTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ping">
      <soap:operation soapAction="http://tempuri.org/ICommandService/Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommandService">
    <wsdl:port name="BasicHttpBinding_ICommandService" binding="tns:BasicHttpBinding_ICommandService">
      <soap:address location="http://localhost:8733/WcfServer/V1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>