Solarjob/WsClient/Service References/WcfServer.V1/WcfServer.Results.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServer.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServer.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfServer.V1.Dtos" />
  <xs:complexType name="ResultOfCommandDto3K_SeiaR2">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/WcfServer.Results" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CommandDto" Namespace="http://schemas.datacontract.org/2004/07/WcfServer.V1.Dtos" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServer.V1.Dtos" minOccurs="0" name="ResultObject" nillable="true" type="q1:CommandDto" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResultOfCommandDto3K_SeiaR2" nillable="true" type="tns:ResultOfCommandDto3K_SeiaR2" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
</xs:schema>